$color-white: #ffffff;
$color-oxford-blue: #1D293F;
$color-light-green: #28B0A6;
$color-yellow: #F5A623;
$color-red-crayola: #E81A46;
$color-red-ryb: #FA3E2C;
$color-celeste: #BCF0EC;
$color-antique-white: #FEF2DE;
$color-red-crayola-light04: #EE5879;
$color-red-crayola-light09: #F9C7D2;

$color-slate-gray: #546179;
$color-charleston-green: #212529;
$color-cadet-gray: #99A3AD;
$color-off-white: #FBFBFB;
$color-cultured: #F8F9FA;
$color-off-cultured: #E9ECEF;
$color-gainsboro: #DCE5EB;
$color-light-gray: #CED4D9;
$color-davys-grey: #495056;
$color-gunmetal: #343A3F;
$color-green-light: #4ED94B;
$color-base-grey: #f4f4f4;


$color-accent: $color-light-green;
$color-text-primary: $color-oxford-blue;
$color-text-default: $color-oxford-blue;
$color-error: $color-red-ryb;
$color-success: $color-green-light;
