@mixin no-select() {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin transition($x...){
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}

@mixin base-transition() {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

@mixin hide-scroll() {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@mixin nowrap(){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
