@import "../variables/colors.scss";
@import "../variables/typography";

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  font-family: $userfont;
  font-size: $fontsize;
  line-height: $lineheight;
  color: $color-text-default;

  //-webkit-tap-highlight-color: rgba(0,0,0,0);
}

ul[class],
ol[class] {
  list-style: none;
  //padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

::placeholder {
  color: $color-cadet-gray;
}

::selection {
  background-color: $color-accent;
  color: $color-white;
}

input, textarea {
  outline: none;
  &:focus:required:invalid {
    border-color: $color-error;
  }
  &:required:valid {
    border-color: $color-success;
  }
}

html,
body,
#__layout,
#__nuxt {
  height: 100%;
}

body {
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}
